@use '@angular/material' as mat;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.texto_simples{
  font-family:serif sans-serif;
  font-size: 1.2em;
  color:rgb(43, 82, 82);
}
h2, mat-card-title{
  font-family:serif sans-serif;
  color:rgb(43, 82, 82);
}
hr{
  color:rgb(43, 82, 82);
}
